.Avatar {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--borderRadius-full);
  border: var(--borderWidth-default) solid var(--borderColor-default);
  background: var(--bgColor-muted);
  color: var(--fgColor-default);
  font-weight: var(--base-text-weight-semibold);
  font-size: var(--text-caption-size);
}

.Avatar-small {
  width: var(--control-small-size);
  height: var(--control-small-size);
}

.Avatar-medium {
  width: var(--control-medium-size);
  height: var(--control-medium-size);
}

.Avatar-large {
  width: var(--control-large-size);
  height: var(--control-large-size);
}

.Avatar-neutral {
  background: var(--bgColor-muted);
  color: var(--fgColor-default);
}

.Avatar-accent {
  background: var(--bgColor-accent-muted);
  color: var(--fgColor-accent);
  border-color: var(--borderColor-accent-muted);
}

.Avatar-success {
  background: var(--bgColor-success-muted);
  color: var(--fgColor-success);
  border-color: var(--borderColor-success-muted);
}

.Avatar-attention {
  background: var(--bgColor-attention-muted);
  color: var(--fgColor-attention);
  border-color: var(--borderColor-attention-muted);
}
