.BtnGroup,
.ButtonGroup {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
}

.BtnGroup > *,
.ButtonGroup > * {
  border-radius: 0;
  margin-left: calc(var(--borderWidth-default) * -1);
}

.BtnGroup > *:first-child,
.ButtonGroup > *:first-child {
  margin-left: 0;
  border-top-left-radius: var(--borderRadius-medium);
  border-bottom-left-radius: var(--borderRadius-medium);
}

.BtnGroup > *:last-child,
.ButtonGroup > *:last-child {
  border-top-right-radius: var(--borderRadius-medium);
  border-bottom-right-radius: var(--borderRadius-medium);
}
