.Label {
  display: inline-block;
  border: var(--borderWidth-default) solid var(--bgColor-transparent);
  border-radius: var(--borderRadius-full);
  padding: 0 var(--space-2);
  font-size: var(--text-caption-size);
  line-height: var(--text-caption-lineHeight);
  font-weight: 500;
  background: var(--label-gray-bgColor-rest);
  color: var(--label-gray-fgColor-rest);
}

.Label--accent {
  background: var(--label-blue-bgColor-rest);
  color: var(--label-blue-fgColor-rest);
}

.Label--attention {
  background: var(--label-yellow-bgColor-rest);
  color: var(--label-yellow-fgColor-rest);
}

.Label--success {
  background: var(--label-green-bgColor-rest);
  color: var(--label-green-fgColor-rest);
}

.Label--severe {
  background: var(--label-orange-bgColor-rest);
  color: var(--label-orange-fgColor-rest);
}

.details-reset > summary {
  list-style: none;
}

.details-overlay {
  position: relative;
}

.details-reset > summary::-webkit-details-marker {
  display: none;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  right: 0;
  z-index: 20;
  min-width: var(--overlay-width-xsmall);
  margin-top: var(--space-1);
  padding: var(--space-1);
  background: var(--overlay-bgColor);
  border: var(--borderWidth-default) solid var(--overlay-borderColor);
  border-radius: var(--borderRadius-medium);
  box-shadow: var(--shadow-floating-small);
}

.dropdown-menu-sw {
  top: 100%;
}

.dropdown-item {
  display: flex;
  align-items: center;
  gap: var(--space-2);
  width: 100%;
  border: 0;
  border-radius: var(--borderRadius-medium);
  padding: var(--space-1) var(--space-2);
  background: var(--bgColor-transparent);
  color: var(--fgColor-default);
  font-size: var(--text-codeBlock-size);
  text-align: left;
  text-decoration: none;
  cursor: pointer;
}

.dropdown-item:visited {
  color: var(--fgColor-default);
}

.dropdown-item-icon {
  width: var(--size-icon);
  height: var(--size-icon);
  flex: 0 0 var(--size-icon);
}

.dropdown-item:hover {
  background: var(--control-bgColor-hover);
  text-decoration: none;
}

.dropdown-item:focus-visible {
  outline: var(--focus-outline);
  outline-offset: var(--outline-focus-offset);
}

.dropdown-divider {
  margin: var(--space-1) var(--space-1);
  border-top: var(--borderWidth-default) solid var(--borderColor-muted);
}

.dropdown-item-danger {
  color: var(--fgColor-danger);
}

.dropdown-item-danger .dropdown-item-icon {
  color: var(--fgColor-danger);
}

.dropdown-item-danger:hover {
  background: var(--bgColor-danger-muted);
  color: var(--fgColor-danger);
}
