{{ define "directive_details" -}}
<details class="site-card">
  <summary class="cursor-pointer font-semibold">{{ .Title }}</summary>
  <div class="mt-4">
    {{ .BodyHTML }}
  </div>
</details>
{{- end }}
